/* Error: Top-level selectors may not contain the parent selector "&".
 *    ,
 * 34 | / .main-nav & li a:hover,
 * 35 | | .drop-nav:hover .drop-link,
 * 36 | | .hidden-nav li:hover {
 *    | '---------------------^
 *    '
 *   partials\_nav.scss 34:1  @import
 *   style.scss 9:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a    \2577 \a 34 \2502  \250c  .main-nav & li a:hover,\a 35 \2502  \2502  .drop-nav:hover .drop-link,\a 36 \2502  \2502  .hidden-nav li:hover {\a    \2502  \2514 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 ^\a    \2575 \a   partials\\_nav.scss 34:1  @import\a   style.scss 9:9           root stylesheet';
}
