/* 
    Helper Styles 
*/
.small-font {
  font-size: 12px;
}

.med-font {
  font-size: 16px;
}

.large-font {
  font-size: 20px;
}

.btm-chevron {
  position: relative;
  display: inline-block;
  transform: rotate(135deg);
  border-right: 4px solid white;
  border-top: 4px solid white;
  width: 15px;
  height: 15px;
  margin-left: 6px;
}

/*
    Grid Implementation
*/
.grid {
  display: grid;
  grid-template-columns: 1fr repeat(10, minmax(auto, 160px)) 1fr;
}

#nav-wrapper,
#header-wrapper {
  grid-column: 2/12;
}

/* 
    Nav Styles 
*/
#nav {
  text-align: center;
  background-color: #137593;
  border-bottom: 5px solid #0f576e;
}

#nav-header {
  font-size: 35px;
  font-weight: 400;
  color: white;
  padding: 0.5em 0 0.5em 0;
}

.main-nav {
  list-style-type: none;
}
.main-nav li {
  display: inline-block;
}
.main-nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 20px 16px;
  text-align: left;
  left: -100px;
}

.main-nav li a:hover,
.drop-nav:hover .drop-link,
.hidden-nav li:hover {
  background-color: #0e586e;
}

#nav .main-nav .hidden-nav {
  display: none;
  position: absolute;
  text-align: left;
  list-style-type: none;
  z-index: 11;
  background-color: #0b4153;
  box-shadow: 0 1px 2px 3px rgba(0, 0, 0, 0.1);
}

#nav .main-nav li:hover > .hidden-nav,
.hidden-nav li {
  display: block;
}

.hidden-nav li a {
  text-decoration: underline;
}
.hidden-nav li a:hover {
  text-decoration: none;
}

/*
    Header Styles
*/
#header {
  position: relative;
  z-index: 8;
  border-bottom: 5px solid #c0c0c0;
  box-shadow: 0 2px 0px 0px #575555;
}

#header-badge {
  background-image: url("../img/random-mountain-pic.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  border-radius: 0 0 500px 500px;
  border: 3px solid white;
  border-top: 0;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

#heading {
  position: absolute;
  font-family: "Passion One", cursive;
  margin: 0 0.2em;
  font-size: 75px;
  font-weight: 500;
  color: #dc4205;
  -webkit-text-stroke: 2px white;
  top: 0;
  text-shadow: -1px 1px 2px white, 1px 1px 2px white, 1px -1px 0 white, -1px -1px 0 white;
  text-shadow: 3px 3px #9c9c9c;
}

#subheading {
  font-size: 39.5px;
  font-weight: 400;
  color: #0b718f;
  padding: 0.5em 0;
}

/*
    Card Section Styles
*/
#card-section {
  position: relative;
  background-color: #199dc5;
  color: white;
  padding: 2em 0.5em;
  border-top: 5px solid #107797;
}

#card-section-wrapper {
  grid-column: 2/12;
  position: relative;
  background-color: #147694;
  padding: 1.5em 1.5em;
  border-radius: 5px;
  line-height: 24px;
}

#card-section-content h3,
#card-section-content p {
  padding: 0.5em 0;
}

#card-section-content > p:last-of-type {
  padding-bottom: 2em;
}

.card-section-link,
.card-section-link:visited {
  color: white;
}

#card-selection {
  float: right;
}

#card-content-wrapper {
  line-height: 24px;
}

.card-column {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  color: #277f9c;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  text-align: center;
  border: 2px solid white;
  min-height: 400px;
}

.card-content {
  margin-bottom: auto;
}

.card-img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-title {
  text-align: center;
  padding: 0.5em 1em;
}

.card-actions {
  vertical-align: bottom;
}

.card-link,
.card-link:visited {
  text-decoration: none;
  color: #277f9c;
}

/*
    Constrained Content Styles
*/
#content {
  border-bottom: 5px solid #c0c0c0;
}

#content-wrapper {
  grid-column: 3/11;
  color: #227c99;
  padding: 1.5em 0;
  line-height: 24px;
}

#const-content {
  padding-bottom: 2em;
}

.list-header {
  padding-top: 1em;
  padding-bottom: 1.5em;
}

#list > ul {
  list-style-position: inside;
  padding-bottom: 1.5em;
}

#thing,
#duck,
#list {
  border-top: 2px solid #72c4dc;
}

#thing-wrapper {
  display: flex;
}

#thing-img {
  position: relative;
  max-width: 90px;
  max-height: 170px;
  top: -14px;
}

/*
    Footer Styles
*/
#footer-main {
  background-color: #137593;
  color: white;
  border-top: 5px solid #0c556c;
  padding: 1em;
}

#footer-wrapper {
  grid-column: 2/12;
  text-align: center;
}

/*
    Desktop Styles
*/
@media only screen and (min-width: 923px) {
  #nav-wrapper {
    display: flex;
    grid-column: 3/11;
    align-items: center;
  }

  #nav-wrapper > h2 {
    padding: 0 0 0 15px;
  }

  .main-nav {
    margin-left: auto;
    padding: 0 0.8em;
  }

  #header-wrapper {
    display: flex;
    grid-column: 3/11;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 300px;
  }

  #heading {
    position: relative;
    font-size: 80px;
    top: auto;
    z-index: 10;
    margin: 0;
  }

  #subheading {
    padding: 0;
  }

  #header-badge {
    position: relative;
    width: 21.3em;
    left: 64%;
  }

  #header-text {
    position: absolute;
    margin-right: auto;
  }

  #card-section-wrapper {
    display: flex;
    flex-wrap: wrap;
    grid-column: 3/11;
  }

  #card-section-content {
    display: flex;
    flex-direction: column;
  }

  #card-content-wrapper {
    display: flex;
    flex-shrink: 1;
  }

  #card-selection {
    float: none;
    margin-left: auto !important;
    margin-right: 0.5em;
  }

  .card-column {
    display: flex;
    width: 25%;
    margin-right: 0.5em;
  }

  #content-wrapper {
    grid-column: 4/10;
    padding: 1.5em 5em;
  }

  #list-wrapper {
    display: flex;
    flex-shrink: 1;
  }

  .list-column {
    width: 33.3%;
    padding-right: 1.4em;
  }
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
    Instructions specified Open Sans, but examples displayed Roboto? 
*/
html {
  /*font-family: "Open Sans", sans-serif;*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

header {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
