/*
    Card Section Styles
*/
#card-section {
    position: relative;
    background-color: #199dc5;
    color: white;
    padding: 2em 0.5em;
    border-top: 5px solid #107797;
}

#card-section-wrapper {
    grid-column: 2/12;
    position: relative;
    background-color: #147694;
    padding: 1.5em 1.5em;
    border-radius: 5px;
    line-height: 24px;
}

#card-section-content h3,
#card-section-content p {
    padding: 0.5em 0;
}

#card-section-content>p:last-of-type {
    padding-bottom: 2em;
}

.card-section-link,
.card-section-link:visited {
    color: white;
}

#card-selection {
    float: right;
}

#card-content-wrapper {
    line-height: 24px;
}

.card-column {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    color: #277f9c;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-align: center;
    border: 2px solid white;
    min-height: 400px;
}

.card-content {
    margin-bottom: auto;
}

.card-img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-title {
    text-align: center;
    padding: 0.5em 1em;
}

.card-actions {
    vertical-align: bottom;
}

.card-link,
.card-link:visited {
    text-decoration: none;
    color: #277f9c;
}