/*
    Constrained Content Styles
*/

#content {
    border-bottom: 5px solid #c0c0c0;
}

#content-wrapper {
    grid-column: 3/11;
    color: #227c99;
    padding: 1.5em 0;
    line-height: 24px;
}

#const-content {
    padding-bottom: 2em;
}

.list-header {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

#list>ul {
    list-style-position: inside;
    padding-bottom: 1.5em;
}

#thing,
#duck,
#list {
    border-top: 2px solid #72c4dc;
}

#thing-wrapper {
    display: flex;
}

#thing-img {
    position: relative;
    max-width: 90px;
    max-height: 170px;
    top: -14px;
}

/*
    Footer Styles
*/
#footer-main {
    background-color: #137593;
    color: white;
    border-top: 5px solid #0c556c;
    padding: 1em;
}

#footer-wrapper {
    grid-column: 2/12;
    text-align: center;
}