/*
    Desktop Styles
*/
@media only screen and (min-width: 923px) {
    #nav-wrapper {
        display: flex;
        grid-column: 3/11;
        align-items: center;
    }

    #nav-wrapper>h2 {
        padding: 0 0 0 15px;
    }

    .main-nav {
        margin-left: auto;
        padding: 0 0.8em;
    }

    #header-wrapper {
        display: flex;
        grid-column: 3/11;
        flex-wrap: wrap;
        align-items: center;
        text-align: left;
        width: 100%;
        height: 300px;
    }

    #heading {
        position: relative;
        font-size: 80px;
        top: auto;
        z-index: 10;
        margin: 0;
    }

    #subheading {
        padding: 0;
    }

    #header-badge {
        position: relative;
        width: 21.3em;
        left: 64%;
    }

    #header-text {
        position: absolute;
        margin-right: auto;
    }

    #card-section-wrapper {
        display: flex;
        flex-wrap: wrap;
        grid-column: 3/11;
    }

    #card-section-content {
        display: flex;
        flex-direction: column;
    }

    #card-content-wrapper {
        display: flex;
        flex-shrink: 1;
    }

    #card-selection {
        float: none;
        margin-left: auto !important;
        margin-right: 0.5em;
    }

    .card-column {
        display: flex;
        width: 25%;
        margin-right: 0.5em;
    }

    #content-wrapper {
        grid-column: 4/10;
        padding: 1.5em 5em;
    }

    #list-wrapper {
        display: flex;
        flex-shrink: 1;
    }

    .list-column {
        width: 33.3%;
        padding-right: 1.4em;
    }
}